.row {
  margin-left: 0;
  margin-right: 0;
}

.main-header {
  border-bottom: none;
}

/* HALAMAN ORDER (pelayan) */
.list-order .card-columns {
  margin: 0 10px;
  column-count: 2;
}
.list-order .card {
  display: inline-block;
  width: 100%;
  box-shadow: none;
  border-radius: 10px;
  transition: all .3s;
  transform: scale(1);
}
.list-order .card:hover {
  position: relative;
  cursor: pointer;
  background-color: khaki;
  transform: scale(1.1);
}
.list-order .card.active {
  background-color: khaki;
}
.list-order .card:hover.active {
  background-color: khaki;
  transform: none;
}
.list-order .card.disabled {
  opacity: .3;
}
.list-order .card:hover.disabled {
  cursor: default;
  background: none;
  transform: none;
}
.list-order .card .card-img-top {
  border-radius: 10px;
}
.list-order .card .card-body footer {
  font-weight: 300;
}

.list-order .card-columns.loading {
  opacity: .65;
}
.list-order .card-columns.loading .card:hover {
  cursor: not-allowed;
  background: none;
  transform: none;
}
.list-order .card-columns .card {
  margin-bottom: 1rem;
}

.list-menu {
  position: sticky;
  padding: 0 10px;
  margin-top: .9rem;
  margin-bottom: 20px;
}
.list-menu .search-icon {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border: none;
}
.list-menu .search-field {
  border-radius: 10px;
  border: none;
}
.list-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: .9rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  justify-content: space-between;
  -webkit-mask-image: linear-gradient(90deg,transparent,#fff 0,#fff 90%,transparent);
}
.list-menu ul li {
  display: inline-block;
  margin-left: 20px;
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #fff;
}
.list-menu ul li:nth-child(1) {
  margin-left: 0;
}
.list-menu ul li:hover {
  cursor: pointer;
  background-color: khaki;
}
.list-menu ul li.active {
  background-color: lightgreen;
}
.list-menu ul li:hover.active {
  cursor: auto;
}

aside.control-sidebar {
  overflow-y: auto;
}

.cart-list {
  margin: 0;
  padding: 36px 12px;
}
.cart-list ul {
  margin: 0;
  padding: 0;
}
.cart-list .card {
  text-align: left;
  background-color: #3e454d;
  border-radius: 10px;
  box-shadow: none;
}
.cart-list .card .card-body .qty {
  font-size: 1rem;
  color: rgb(255, 244, 244);
  font-weight: 500;
}
.cart-list .cart-harga p, .cart-list .cart-harga h4{
  text-align: right;
  margin: 0;
  padding: 0;
}

.cart-list .card-body.loading {
  opacity: .65;
  cursor: not-allowed;
}

.btn-disabled {
  display: none;
}
.notif-not-done {
  background-color: #a7ffb6;
}

.alert {
  opacity: .8;
}


/* HALAMAN PESANAN (koki) */
.list-menu ul li.done {
  opacity: .65;
  cursor: default;
}
.list-menu ul li:hover.done {
  background-color: #fff;
}

.list-pesanan .card {
  border-radius: 10px;
}

@media (min-width: 575px) {
  .list-order .card {
    margin-top: .9rem;
  }
  .list-order .card .card-body {
    padding: 10px;
  }
}

@media (min-width: 768px) {
  .list-order .card .card-body {
    padding: 20px;
  }

  .list-menu {
    top: 70px;
  }
  .list-menu ul {
    display: block;
    -webkit-mask-image: none;
    overflow-x: hidden;
  }
  .list-menu ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    margin-top: 10px;
    padding: 10px 20px;
    width: 100%;
  }
  .list-menu ul li:nth-child(1) {
    margin: 0;
  }

  .list-order .card-columns {
    column-count: 4;
  }

  .list-pesanan .card-columns {
    column-count: 2;
  }
}